.container {
    background-color: white;
}

.landing {
    background-image: url("../img/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 18%;
    padding-bottom: 5%;
}

#logo {
    margin-bottom: 25px;
    margin-top: 13px;
    width: 75px;
    height: 70px;
}

#mouse-click {
    padding-bottom: 24px;
    margin-top: 9px;
    padding-bottom: 32px;
}

#about {
    text-align: center;
}

.text {
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-size: 20px;
    font-weight: 600;
}

.Aboutus {
    margin-top: 35px;
}

.services {
    text-align: center;
    padding-top: 11%;
}

.pg {
    text-align: center;
    font-family: 'Romanesco', cursive;
    font-size: 25px;

}

.SERVICES {
    background-image: url("/img/s_image.jpg");
    background-repeat: no-repeat;
    margin-top: 20px;
    background-size: cover;
    color: white;
}
#wrap{
 padding-bottom: 10%;
}
.what-we-do{
    padding-top: 5%;
}
.hide{
    display: none;
    font-family: 'Romanesco', cursive;
    font-size: 24px;
}
.row{
    padding: 2%;

}
#portfolio{
    align-items: center;
    flex-wrap: wrap;
    display:flex ;
    margin-left: 18%;
    margin-right: 17%;

}

    
